h1 {
    color: #add8e6;
    text-align; center
    font-size: 300%;
}

p {
    font-family:monospace;
    color: #add8e6;
    text-indent: 20px;
    margin-left: 25px;
}
#content {
    background-color: #000000;
    width: auto;
    min-height: auto;
    padding: 10px;
    margin: auto;
    border: solid 1px #444444;
    font-size: 20px;

}
