h1 {
    color: #614060;
    text-align; center
    font-size: 300%;
}
body div h2{
    color: #1C5373;
    text-align: left;
    text-indent: 55px;
}

p {
    font-family:monospace;
    color: #1C5373;
    text-indent: 20px;
    margin-left: 25px;

}
#content {
    width: auto;
    min-height: auto;
    padding: 50px;
    margin: auto;
    border: solid 20px #614060;
    font-size: 25px;

}
body {
  background-color:#AEE094;
  text-align:center;
}
